*{
  margin: 0px;
  padding: 0;
}


input {
  background-color: white;
}

b, strong {
        font-weight: bold;
}

#login {
  background-color: white;
  border-radius: 10px;
}

#profile {
  background-color: white;
  border-radius: 10px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
}

#cuerpo {
  width: 100%;
  min-height: 700px;
  height: auto;
  background-color: #CD853F;
  position: relative;
}


#div-login {
  background-color: white;
  border: 1px solid #808080;
  padding: 10px;
  overflow: hidden;
}

#search {
  background-color: white;
  border: 1px solid #808080;
  padding: 10px;

}

.modal {
  max-height: 100%;
  overflow: hidden;
}


#login_title {
  background-color: #4e342e !important;
}

#comment {
  height: 150px;
}


