*{
  margin: 0px;
  padding: 0;
}
input {
  background-color: white;
}

b, strong {
        font-weight: bold;
}

#login {
  background-color: white;
  border-radius: 10px;
}

#profile {
  background-color: white;
  border-radius: 10px;
}

#login-button {
  background-color: white;
}

a.btn {
  margin-top: 30%;
}

.modal {
  max-height: 100%;
  overflow: hidden;
}



.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
}

.entrada {
    padding: 10px;
    display: block;
    border-radius: 10px;
}


#cuerpo {
  width: 100%;
  min-height: 880px;
  background-color: #CD853F;
}

#login_title {
  background-color: #4e342e !important;
}

#div-login {
  background-color: white;
  border: 1px solid #808080;
  padding: 10px;
  overflow: hidden;
}

#search {
  background-color: white;
  border: 1px solid #808080;
  padding: 10px;

}

#search, #div-login {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}


main {
  flex: 1 0 auto;
}
