*{
  margin: 0px;
  padding: 0;
}


input {
  background-color: white;
}

b, strong {
        font-weight: bold;
}

#login {
  background-color: white;
  border-radius: 10px;
}

#profile {
  background-color: white;
  border-radius: 10px;
}

a.btn {
  margin-top: 30%;
}

.modal {
  max-height: 100%;
  overflow: hidden;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
}

#cuerpo {
  width: 100%;
  min-height: 700px;
  height: auto;
  background-color: #CD853F;
  position: relative;
}

body{
  margin: 0;   /* NUEVO */
}

.row{
  width: 100%;
  height: 100%;
}

#div-login {
  background-color: white;
  border: 1px solid #808080;
  padding: 10px;
  overflow: hidden;
}

#search {
  background-color: white;
  border: 1px solid #808080;
  padding: 10px;

}

#search, #div-login {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

.modal {
  max-height: 100%;
  overflow: hidden;
}

input[type="submit"] {
  width: 100%;
  margin-top: 50px;
}

#login_title {
  background-color: #4e342e !important;
}

#comment {
  height: 150px;
}