*{
  margin: 0px;
  padding: 0;
}


#cuerpo {
  height: 100%;
  background-color: #CD853F;
}

input::placeholder {
  color: black;
}

#signup {
  padding: 10px;
  overflow: visible;

}

.row{
  width: 100%;
  height: 100%;
}

input[type="submit"] {
  width: 100%;
}

#right {
  background-color: brown;
}

#text{
  text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}